@import url('https://fonts.googleapis.com/css2?family=Allura&family=Cinzel:wght@400..900&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#background {
    background-image: url('./background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

#navbar {
    display: flex;
    flex-wrap: wrap; /* Allow navigation items to wrap to next line */
    align-items: center;
    justify-content: space-between;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: large;
    padding: 20px;
}

#logo {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: white;
    transition: color 0.5s ease;
    margin-bottom: 10px; /* Adjust margin for smaller screens */
}

#logo:hover {
    color: black;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-top: 5px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.5s ease;
}

nav ul li a:hover {
    color: black;
}


@media screen and (max-width: 530px) {
    #logo {
        margin-bottom: 10px;
        margin-left: 60px;
    }

    nav ul {
        justify-content: center;
        margin-top: 10px;
    }

    nav ul li {
        margin-right: 10px;
    }

    nav ul li:first-child{
        margin-left: 50px;
    }
    nav ul li:last-child {
        margin-right: 0;
    }
}

#content{
    margin-top: 30px;
    margin-left: 75px;
    max-width: fit-content;
}

#content h1{
    font-size: 75px;
    margin-left: 175px;
    color: white;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    max-width: fit-content;
}

#content h2{
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: white;
    max-width: fit-content;
}

#button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 25px;
    margin-right: 125px;

}